@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --color-primary: #fce7d8;
  --color-secondary: #15252d;
  /* --color-background: #fce7d8; */
  --color-text: #fc5200;
  --color-box-blue: #005aaf;
  --color-matt-black: #141414;
  --color-ash: 63, 68, 84; /* RGB format for rgba */
  --color-frost: #3f4454;
  --color-black: #282828;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Aeonik";
  src: url("/src/assets/fonts/Aeonik-Regular.woff2") format("woff2"),
    url("/src/assets/fonts/Aeonik-Regular.woff") format("woff"); /* Fallback for older browsers */
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/src/assets/fonts/Aeonik-Bold.woff2") format("woff2"),
    url("/src/assets/fonts/Aeonik-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Aeonik", sans-serif;
}

.bg-matt-black {
  background-color: var(--color-matt-black);
}
.bg-chat-black {
  background-color: var(--color-black);
}

.new-tab-button {
  background-color: rgba(var(--color-frost), 0.4); /* translucent */
  backdrop-filter: blur(20px);
}

.new-tab-button:hover {
  background-color: rgba(var(--color-ash), 0.4); /* translucent */
  backdrop-filter: blur(20px);
}
