/* .bg-primary {
  @apply bg-[var(--color-primary)];
}

.bg-secondary {
  @apply bg-[var(--color-secondary)];
}

.bg-screen {
  @apply bg-[var(--color-background)];
} */

.heading {
  color: var(--color-text);
}

.sub-heading {
  color: var(--color-primary);
}

.home-btn-1 {
  background-color: var(--color-text);
  color: var(--color-secondary);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.home-hover:hover {
  background-color: #fce7d8;
  color: #15252d;
}

.home-btn-2 {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.home-border-color {
  border-color: var(--color-primary);
  border-width: 1.3px;
}

/* Hide horizontal scrollbar on cards scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
