:root {
  --color-ash: 63, 68, 84; /* RGB format for rgba */
  --color-frost: #3f4454;
}

.bg-search {
  background-color: rgba(var(--color-ash), 0.4); /* translucent */
  backdrop-filter: blur(20px);
}

.bg-search:focus-within {
    background-color: rgba(var(--color-ash), 0.6); /* slightly less translucent */
    backdrop-filter: blur(100px);
}
