@import "tailwindcss";

/* @config "../../../tailwind.config.js"; */

.logo {
  @apply mx-3 my-4 border rounded-full overflow-hidden h-10 w-10 sm:h-12 sm:w-12 object-cover cursor-pointer;
}
.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}

.border-color {
  border-color: var(--color-primary);
  border-width: 1.3px;
}

.nav-hover:hover {
  background-color: #fce7d8;
  color: #15252d;
}